<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if user.nick_name %}
        {{ user.nick_name }}
    {% else %}
        {{ user.username }}
    {% endif %}的博客</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
<script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/setupajax.js"></script>

</head>
<body>
{% include 'navbar.html' %}
<!-- 主页面 开始-->
<div class="container article-content">
    <div class="row ">

        <div class="col-md-3 col ">

          {% include 'left-tag.html' %}
        </div>
        <div class="col-md-8">

           {% block article_list %}

            {% endblock %}


        </div>

    </div>
</div>
<!-- 主页面 结束-->

</body>
</html>